In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [3]:
df1 = pd.read_csv("C:/Users/roshn/Downloads/archive (1)/Facebook Metrics of Cosmetic Brand.csv")

In [4]:
df1.head()

,Unnamed: 0,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [5]:
cols_to_keep = [
    'Type',
    'Paid',
    'Post Month',
    'Post Weekday',
    'Post Hour',
    'Lifetime Post Total Reach',
    'Lifetime Post Total Impressions',
    'like',
    'comment',
    'share',
    'Total Interactions'
]

df = df1[cols_to_keep]

In [6]:
df.head()

,Type,Paid,Post Month,Post Weekday,Post Hour,Lifetime Post Total Reach,Lifetime Post Total Impressions,like,comment,share,Total Interactions
0,Photo,0.0,12,4,3,2752,5091,79.0,4,17.0,100
1,Status,0.0,12,3,10,10460,19057,130.0,5,29.0,164
2,Photo,0.0,12,3,3,2413,4373,66.0,0,14.0,80
3,Photo,1.0,12,2,10,50128,87991,1572.0,58,147.0,1777
4,Photo,0.0,12,2,3,7244,13594,325.0,19,49.0,393

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Type                             500 non-null    object
 1   Paid                             499 non-null    float64
 2   Post Month                       500 non-null    int64
 3   Post Weekday                     500 non-null    int64
 4   Post Hour                        500 non-null    int64
 5   Lifetime Post Total Reach        500 non-null    int64
 6   Lifetime Post Total Impressions  500 non-null    int64
 7   like                             499 non-null    float64
 8   comment                          500 non-null    int64
 9   share                            496 non-null    float64
 10  Total Interactions               500 non-null    int64
dtypes: float64(3), int64(7), object(1)
memory usage: 43.1+ KB

In [9]:
# Fill NaNs in engagement columns and convert to int
df['like'] = df['like'].fillna(0).astype(int)
df['share'] = df['share'].fillna(0).astype(int)

# Paid: fill missing with 0 (assume organic) and convert to int
df['Paid'] = df['Paid'].fillna(0).astype(int)

C:\Users\roshn\Miniconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\roshn\Miniconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\roshn\Miniconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
df.info()
##df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Type                             500 non-null    object
 1   Paid                             500 non-null    int32
 2   Post Month                       500 non-null    int64
 3   Post Weekday                     500 non-null    int64
 4   Post Hour                        500 non-null    int64
 5   Lifetime Post Total Reach        500 non-null    int64
 6   Lifetime Post Total Impressions  500 non-null    int64
 7   like                             500 non-null    int32
 8   comment                          500 non-null    int64
 9   share                            500 non-null    int32
 10  Total Interactions               500 non-null    int64
dtypes: int32(3), int64(7), object(1)
memory usage: 37.2+ KB

In [12]:
df.head()

,Type,Paid,Post Month,Post Weekday,Post Hour,Lifetime Post Total Reach,Lifetime Post Total Impressions,like,comment,share,Total Interactions
0,Photo,0,12,4,3,2752,5091,79,4,17,100
1,Status,0,12,3,10,10460,19057,130,5,29,164
2,Photo,0,12,3,3,2413,4373,66,0,14,80
3,Photo,1,12,2,10,50128,87991,1572,58,147,1777
4,Photo,0,12,2,3,7244,13594,325,19,49,393

In [13]:
df['Total_Engagement'] = df['like'] + df['comment'] + df['share']

C:\Users\roshn\Miniconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
df[['like', 'comment', 'share', 'Total_Engagement']].head()

   like  comment  share  Total_Engagement
0    79        4     17               100
1   130        5     29               164
2    66        0     14                80
3  1572       58    147              1777
4   325       19     49               393

In [15]:
df['Engagement_Rate'] = df['Total_Engagement'] / df['Lifetime Post Total Reach']

C:\Users\roshn\Miniconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
df.head()

,Type,Paid,Post Month,Post Weekday,Post Hour,Lifetime Post Total Reach,Lifetime Post Total Impressions,like,comment,share,Total Interactions,Total_Engagement,Engagement_Rate,Engagement_Rate_Pct
0,Photo,0,12,4,3,2752,5091,79,4,17,100,100,0.036337,3.633721
1,Status,0,12,3,10,10460,19057,130,5,29,164,164,0.015679,1.567878
2,Photo,0,12,3,3,2413,4373,66,0,14,80,80,0.033154,3.315375
3,Photo,1,12,2,10,50128,87991,1572,58,147,1777,1777,0.035449,3.544925
4,Photo,0,12,2,3,7244,13594,325,19,49,393,393,0.054252,5.425179

In [17]:
df['Engagement_Rate_Pct'] = df['Engagement_Rate'] * 100

C:\Users\roshn\Miniconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
(df['Total_Engagement'] == df['Total Interactions']).value_counts()

True    500
dtype: int64

In [20]:
df['Engagement_Rate_Pct'] = (df['Engagement_Rate'] * 100).round(2)

C:\Users\roshn\Miniconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
df.head()

,Type,Paid,Post Month,Post Weekday,Post Hour,Lifetime Post Total Reach,Lifetime Post Total Impressions,like,comment,share,Total Interactions,Total_Engagement,Engagement_Rate,Engagement_Rate_Pct
0,Photo,0,12,4,3,2752,5091,79,4,17,100,100,0.036337,3.63
1,Status,0,12,3,10,10460,19057,130,5,29,164,164,0.015679,1.57
2,Photo,0,12,3,3,2413,4373,66,0,14,80,80,0.033154,3.32
3,Photo,1,12,2,10,50128,87991,1572,58,147,1777,1777,0.035449,3.54
4,Photo,0,12,2,3,7244,13594,325,19,49,393,393,0.054252,5.43

In [23]:
#Create readable labels for Paid Vs Organic
df['Paid_Flag'] = df['Paid'].map({0: 'Organic', 1: 'Paid'})

C:\Users\roshn\Miniconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
df['Paid_Flag'].value_counts()

Organic    361
Paid       139
Name: Paid_Flag, dtype: int64

In [25]:
paid_summary = (
    df.groupby('Paid_Flag')
      .agg(
          Avg_Reach=('Lifetime Post Total Reach', 'mean'),
          Avg_Impressions=('Lifetime Post Total Impressions', 'mean'),
          Avg_Total_Engagement=('Total_Engagement', 'mean'),
          Avg_Engagement_Rate_Pct=('Engagement_Rate_Pct', 'mean'),
          Post_Count=('Paid_Flag', 'count')
      )
      .round(2)
)

paid_summary
## we see organic posts have lower reach by higher engagement efficiency, 
## paid posts have higher reach lower engagement efficiency
## Paid posts increased reach significantly, but organic posts achieved higher engagement rates, 
## indicating stronger contentâ€“audience fit despite lower exposure. "Paid improves distribution; organic drives efficiency"

,Avg_Reach,Avg_Impressions,Avg_Total_Engagement,Avg_Engagement_Rate_Pct,Post_Count
Paid_Flag,,,,,
Organic,11829.99,26591.48,186.66,2.48,361
Paid,19288.16,37362.94,278.23,2.23,139

In [26]:
paid_summary[['Avg_Reach', 'Avg_Engagement_Rate_Pct']]

           Avg_Reach  Avg_Engagement_Rate_Pct
Paid_Flag
Organic     11829.99                     2.48
Paid        19288.16                     2.23

In [30]:
paid_summary.dtypes

Avg_Reach                  float64
Avg_Impressions            float64
Avg_Total_Engagement       float64
Avg_Engagement_Rate_Pct    float64
Post_Count                   int64
dtype: object

In [32]:
Type_summary = (
    df.groupby('Type')
      .agg(
          Avg_Reach=('Lifetime Post Total Reach', 'mean'),
          Avg_Impressions=('Lifetime Post Total Impressions', 'mean'),
          Avg_Total_Engagement=('Total_Engagement', 'mean'),
          Avg_Engagement_Rate_Pct=('Engagement_Rate_Pct', 'mean'),
          Post_Count=('Paid_Flag', 'count')
      )
      .round(2)
)
Type_summary

,Avg_Reach,Avg_Impressions,Avg_Total_Engagement,Avg_Engagement_Rate_Pct,Post_Count
Type,,,,,
Link,18544.59,28725.45,89.05,0.73,22
Photo,13137.81,28994.50,216.58,2.61,426
Status,13078.89,24244.47,217.04,1.59,45
Video,51205.71,102622.43,295.86,0.85,7

In [35]:
Type_summary[["Avg_Total_Engagement","Avg_Engagement_Rate_Pct","Post_Count"]]
##engagement rate >> This shows efficiency (who performs best per unit of reach)
##total engagement >> This shows volume (who gets more reactions overall)

        Avg_Total_Engagement  Avg_Engagement_Rate_Pct  Post_Count
Type
Link                   89.05                     0.73          22
Photo                 216.58                     2.61         426
Status                217.04                     1.59          45
Video                 295.86                     0.85           7

In [36]:
##Video posts achieve higher reach, while photo posts generate more engagement per user, 
##suggesting photos drive stronger audience interaction despite lower exposure.

In [38]:
paid_type_summary = (
    df.groupby(['Paid_Flag', 'Type'])
      .agg(
          Avg_Total_Engagement=('Total_Engagement', 'mean'),
          Avg_Engagement_Rate_Pct=('Engagement_Rate_Pct', 'mean'),
          Post_Count=('Type', 'count'),
          Reach_Count=('Lifetime Post Total Reach','mean')
      )
      .round(2)
      .reset_index()
)

paid_type_summary

,Paid_Flag,Type,Avg_Total_Engagement,Avg_Engagement_Rate_Pct,Post_Count,Reach_Count
0,Organic,Link,95.81,0.68,16,20935.88
1,Organic,Photo,191.01,2.70,307,10838.50
2,Organic,Status,181.57,1.49,35,12144.51
3,Organic,Video,285.67,0.86,3,61058.67
4,Paid,Link,71.00,0.84,6,12167.83
5,Paid,Photo,282.54,2.37,119,19069.67
6,Paid,Status,341.20,1.91,10,16349.20
7,Paid,Video,303.50,0.85,4,43816.00

In [39]:
tableau_df = df[
    [
        'Type',
        'Paid_Flag',
        'Post Month',
        'Post Weekday',
        'Post Hour',
        'Lifetime Post Total Reach',
        'Lifetime Post Total Impressions',
        'Total_Engagement',
        'Engagement_Rate_Pct',
        'like',
        'comment',
        'share'
    ]
]

In [40]:
tableau_df.head()

,Type,Paid_Flag,Post Month,Post Weekday,Post Hour,Lifetime Post Total Reach,Lifetime Post Total Impressions,Total_Engagement,Engagement_Rate_Pct,like,comment,share
0,Photo,Organic,12,4,3,2752,5091,100,3.63,79,4,17
1,Status,Organic,12,3,10,10460,19057,164,1.57,130,5,29
2,Photo,Organic,12,3,3,2413,4373,80,3.32,66,0,14
3,Photo,Paid,12,2,10,50128,87991,1777,3.54,1572,58,147
4,Photo,Organic,12,2,3,7244,13594,393,5.43,325,19,49

In [41]:
tableau_df.to_csv("C:/Users/roshn/Downloads/archive (1)/facebook_marketing_analytics_tableau.csv", index=False)